* {
    font-family: 'Freight Sans Pro';
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    --bg: #efefef;
    --primaryText: #111115;
    --secondaryText: #777;

    background-color: var(--bg);
    color: var(--primaryText);
  }
  body.dark {
    --bg: #111115;
    --primaryText: #efefef;
    --secondaryText: #9d9d9d;

    background-color: var(--bg);
    color: var(--primaryText);

  }

html, body {
    min-height: 100%;
}

p {
    font-size: 1.1em;
    margin: 16px auto;
    line-height: 1.5em;
    letter-spacing: 0.02rem;
}

.layout {
    margin: 0 auto;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    max-width: 90vw;
}
nav .links {
    display: inline-block;
    text-align: right;
}
nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 300;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }
nav a:hover {
    border-color: white;
}
footer {
    background-color: #C8C8D9;
    color: #111115;
    text-align: center;
}
footer icon {
    margin-left: 20px;
    padding-bottom: 8px;
}
footer p {
    margin: 40px auto;
}